*{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: darkred;
}

header{
    background-color:darkolivegreen;
    padding-bottom: 10px;
    position:sticky;
    top: 0ch;
}

a{
    padding-left: 5px;
    padding-right: 5px;
    color:red;
    font-size: 20px;
}

a:hover{
    background-color: blue;
    color:aliceblue;
}

body {
    margin: 0px;
    background-color: rgb(88, 194, 102);
}

section{
    margin: 10px;
    padding: 0px 10px 10px;
    border: dotted;
    border-width: 2px;
    border-color:darkred;
    
}

p{
    text-align: justify;
}

footer{
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    margin: 0ch;
    padding: 10px;
    border-color: rgb(139, 9, 0);
    background-color: darkgreen;
    font-weight: bold;
    position: fixed;
    bottom: 0ch;
    width: 100%;
}

#logo {
    justify-items:center;
    width: 50px;
}

header>nav>ul{
    margin: 10px;
    padding: 0px;
}

header>nav>ul>li{
    display: inline-block;
}

#submit{
    padding: 2px;
}

.center {
    text-align: center;
}

th{
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid black;
}