h1 {
    text-align: center;
}

h2{
    text-align: center;
}

body {
    background-color: cornflowerblue;
}

section{
    border-spacing: 5px;
    padding: 2px;
    border-collapse: collapse;
    border: solid;
    border-width: 2px;
    border-color: blue
}

footer{
    background-color: darkcyan;
}

#logo {
    width: 50px;
}

header>nav>ul{
    list-style-type: circle;
}
header>nav>ul>li{
    display: inline-block;
}

#submit{
    padding: 2px;
}